<% include partials/header %>

<div class="container-fluid mx-0 p-0">
    <section class="row align-items-center no-gutters">
        <div  class="col-lg-6 p-3">
            <div class="aboutText">
                <h1 class="display-4 text-center pb-3">Why choose us for your auto repair needs?</h1>

                <h2 class="h2 text-center py-3">OUR TEAM</h2>
                <p class="px-5">
                    Family owned and operated by the Huigens family in New Prague, MN, since 1998.  The Father and Son mechanic duo have over 45 years of automotive repair experience between them and, because of their close family environment, they work extremely well together.
                </p>
            </div>
        </div>

        <div  class="col-lg-6">
            <div id="aboutImage"></div>
        </div>
    </section>        

    <!-- VALUES and 2nd image -->
    <section class="row no-gutters align-items-center">

        <div class="col-lg-6 order-1 order-lg-2 p-3">
            <div class="aboutText">
                

                <h2 class="h2 text-center pb-3">OUR VALUES</h2>
                <p class="px-5">
                    At A&W we understand that you have a lot of options for your automotive needs.  We differentiate ourselves by having the best qualified technicians to properly care for your vehicle, and we take pride in our workmanship by doing it right the first time.
                </p>
                <p class="px-5">
                    We are exceedingly honest and up front with our customers, and we don't believe in cutting corners or sacrificing quality.
                </p>
                <p class="px-5">
                    Here at A&W we look to build long-term relationships which means the customer is the highest priority. We ensure that you and your vehicle will be taken care of. If for any reason we are unable to fix your vehicle, we will personally bring it to a qualified technician or dealer that will. 
                </p>

            </div>
        </div>

        <div class="col-lg-6 order-2 order-lg-1">
                <div id="aboutImage2"></div>
        </div>


    </section> 


</div>

<% include partials/footer %>