<% include partials/header %>

<div class="container-fluid mx-0 p-0">
    <section class="row align-items-center no-gutters">
        <div  class="col-lg-6 py-5">
            <div id="title" class="titleText">
                <h1 class="display-2">A&W Automotive</h1>
                <h2 id="subtitle" class="h2 pb-3">Where Quality Counts</h2>
                <p>Proudly serving New Prague and the surrounding areas!</p>
                <ul class="contact">
                    <li class="phone"><a href="tel:9527587764">952-758-7764</a> </li>
                    <li>698 15th St. SW</li>
                    <li>New Prague, MN 56071</li>
                </ul>
            </div>
        </div>

        <div  class="col-lg-6">
            <div id="titleImage"></div>
        </div>
    </section>        

    <!-- HOURS and 2nd image -->
    <section class="row no-gutters align-items-center">

        <div class="col-lg-6 order-1 order-lg-2 py-5">
            <div id="hours" class="titleText">
                
                <h2 class="pb-3">Hours</h2>
                <ul>
                    <li>Monday - Friday</li>
                    <li>7:30 AM - 5:00 PM</li>
                    <li>Saturday by appointment only</li>
                </ul>
            </div>
        </div>

        <div class="col-lg-6 order-2 order-lg-1">
                <div id="hoursImage"></div>
        </div>


    </section> 

    <!-- VALUES -->
    <section>

        <div class="row mx-3 justify-content-center">
            
            <div class="col-sm-6 col-lg-4 mt-5">
                
                <h2>Value</h2>
                <p class="values">Best quality technicians that take pride in their workmanship and doing the job right the first time.</p>
            </div>
            <div class="col-sm-6 col-lg-4 offset-lg-2 mt-5">
                
                    <h2 >Service</h2>
                    <p class="values">Come to us for a variety of auto repair services in New Prague and speak directly with the technician that will be working with your vehicle.</p>
                
            </div>


        </div>
        <div class="row mx-3 justify-content-center">
                <div class="col-sm-6 col-lg-4 mt-5">
               
                        <h2>Integrity</h2>
                        <p class="values">Customer relationships are the highest priority which we strive for through honesty and quality work.</p>
                   
                </div>
        </div>
    </section>
</div>

<% include partials/footer %>