<% include partials/header %>

<div class="jumbotron jumbotron-fluid p-0">
    <div id="servicesImage">

    </div>

</div>

<div class="container-fluid mx-0 p-0">
    <div class="row">
        <div class="col">
            <h1 class="display-4 text-center pb-3">Services</h1>
        </div>
    </div>

    <div class="row mx-5 justify-content-center">
        <div  class="col-lg-5 pl-5">
            <ul>
                <li>Brakes</li>
                <li>Oil changes</li>
                <li>Tires</li>
                <li>Tune up</li>
                <li>Engine repair</li>
                <li>Transmission repair</li>
                <li>Computer diagnostic</li>
                <li>Fuel pump repair</li>
                <li>Fuel system repair</li>
                <li>Shock and strut repair and replacement</li>
            </ul>
        </div>
        <!-- <div class="col-md-1">

        </div> -->

        <div  class="col-lg-5 pl-5">
            <ul>
                    <li>Free loaner car with service</li>
                    <li>Free pick up and delivery to New Prague residents</li>
                    <li>Free tire rotation with oil change</li>                
                    <li>12 month 12,000 mile parts warranty</li>
                    <li>Authorized Hankook Dealer</li>
                    <li>Free road hazard warranty on Hankook tires</li>
                
            </ul>
        </div>
    </div>        



</div>

<% include partials/footer %>