body {
    background: #fdfcfc;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin: 0;
    padding-top: 50px;
    max-width: 1300px;
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3, h4 {
    font-family: 'Oswald';
    font-weight: 700;

}

.titleText{

    text-align: center;
    font-size: 1.3rem;
}

.titleText ul {
    list-style-type: none;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

.phone {
    line-height: 60px;
    color: red;
}


#titleImage {
    background-image: url("../img/blueMotor.jpg");
    background-size: cover;
    background-position-x: 60%;
    height: 600px;
 
}

#hoursImage {
    background-image: url("../img/HuigensFamily.jpg");
    background-size: cover;
    background-position-x: 60%;
    height: 600px;

}

.values {
 
    height: 150px;
    background:#80808014;
}

/* ABOUT PAGE */

#aboutImage {
    background-image: url("../img/AllanHelper.jpg");    background-size: cover;
    background-position-y: 50%;
    height: 600px;
}

#aboutImage2 {
    background-image: url("../img/AllanEngineWork.jpg");    background-size: cover;
    background-position-y: 60%;
    height: 600px;
}

.aboutText {
    
}

/* Services page */

#servicesImage {
    background-image: url("../img/AllanHelper.jpg");    background-size: cover;
    background-position-y: 50%;
    height: 400px;
}

.footer {
    /* background: rgb(38, 38, 38); */
    width: 100%;
    text-align: center;
    color: darkgray;

}
