body {
    background: #fdfcfc;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin: 0;
    max-width: 1300px;
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3, h4 {
    font-family: 'Oswald';
    font-weight: 700;

}

.titleText{

    text-align: center;
    font-size: 1.3rem;
    /* height: 400px; */
}

.titleText ul {
    list-style-type: none;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

#phone {
    line-height: 60px;
    color: red;
}


#titleImage {
    background-image: url("../img/blueMotor.jpg");
    background-size: cover;
    background-position-x: 60%;
    height: 600px;
 
}

#hoursImage {
    background-image: url("../img/HuigensFamily.jpg");
    background-size: cover;
    background-position-x: 60%;
    height: 600px;

}

.values {
    /* border: 2px solid black; */
    height: 150px;
    background:#80808014;
    /* padding-left: 20px;
    padding-right: 20px;
    height: 175px;
    justify-content: start; */
    /* max-width: 300px; */
    /* centers on smaller screen */
    /* margin: 30px auto;  */

 
    
}

h4 {
    /* padding: 0; */
}
