body {
    background: #fdfcfc;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    margin: 0;
    max-width: 1300px;
    font-family: 
}

/* .box {
    display: flex;
    flex-wrap: wrap;
} */

.infoText{
    width: 48%;
    height: 650px;
    margin-right: 1%;
    margin-left: 1%;
    padding-top: 100px;
    float: left;
    /* border: 1px solid blue; */
    text-align: center;
    font-size: 1.3rem;
}

h1{
    font-size: 4rem;
    /* color: #bf0000; color from AW site*/
    
}

h3 {
    font-size: 2rem;
}

.infoText ul {
    list-style-type: none;
    line-height: 25px;
    margin: 0;
    padding: 0;
}

/* 992 px break point */

#mainImage {
    background-image: url("../img/blueMotor.jpg");
    background-size: cover;
    background-position-x: 60%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    height: 750px;
    object-fit: contain;
    
}

#image2 {
    background-image: url("../img/HuigensFamily.jpg");
    background-size: cover;
    background-position-x: 60%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
    height: 750px;
    object-fit: contain;

}

#contactInfo {
    float: left;
    width: 48%;
}

#values {
    float: left;
    width: 100%;
}
